<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Tandläkare Lindqvist</title>
    <link href="./css/main.css" rel="stylesheet"/>
</head>
    <body>
      <nav>
        <img src="./img/hamburgar_menu.png" width="100px" height="100px">
        <h1>Tandläkare Lindqvist</h1>
        <!--   <img src="./img/tand_2.png" alt="Tand loga" height="200px" width="200px">
          <a href="./index.html" class="button">Hem</a>
          <a href="./personal.html" class="button">Personal</a>
          <a href="./behandlingar.html" class="button">Behandlingar</a>
          <a href="./kontakta.html" class="button">Kontakta</a> -->
      </nav>
      <div class="container">
        <main>

        </main>
        <aside>

        </aside>
      </div>

      <footer>

      </footer>
    </body>
    <script src="./js/main.js"></script>
</html>
