<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Tandläkare Lindqvist</title>
    <link href="./css/main.css" rel="stylesheet"/>
</head>
    <body>
      <nav>
          <a href="./index.html" class="button">Hem</a>
          <a href="./personal.html" class="button">Personal</a>
          <img src="./img/tand_2.png" alt="Tand loga" height="100px" width="100px">
          <a href="./behandlingar.html" class="button2">Behandlingar</a>
          <a href="./kontakta.html" class="button2">Kontakta</a>
      </nav>
    </body>
    <script src="./js/main.js"></script>
</html>
