<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Tandläkare Lindqvist</title>
    <link href="./css/main.css" rel="stylesheet"/>
</head>
    <body>

      <div class="nav_desk">
        <a href="./index.html" class="button1">Hem</a>
        <a href="./personal.html" class="button1">Personal</a>
        <a href="./behandlingar.html" class="button1">Behandlingar</a>
        <a href="./kontakta.html" class="button1">Kontakta</a>
      </div>

      <div class="hamburgare_och_nav">

      <div class="hamburgare">
        <div class="hikon_close">
        <img src="./img/ic_close_white_3x.png" class="hclose" onclick="hamburgarmeny()">
      </div>
      <div class="links">
        <a href="./index.html" class="button1" id="top">Hem</a>
        <a href="./personal.html" class="button1">Personal</a>
        <a href="./behandlingar.html" class="button1">Behandlingar</a>
        <a href="./kontakta.html" class="button1">Kontakta</a>
      </div>
      </div>
      <nav>
        <img src="./img/hamburgar_menu.png" class="hikon" onclick="hamburgarmeny()">
        <h1 id="titel">Tandläkare Lindqvist</h1>
      </nav>
    </div>

    <div class="yttre_container">
      
    <header>
      <img src="./img/stockphoto.jpg" id="img">
    </header>
      <div class="container">
        <main>
          <div class="fix_box">
          <div class="box1" id="unik_box">
          <img src="./img/kort2.png" id="kort">
          <h1 id="fix">Välkomna</h1>
            <h3 id="fix2">Om oss</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur cursus ut lectus nec facilisis.
              In gravida, eros eu sagittis accumsan, nisl nisi aliquam nunc, sed
              hendrerit tellus orci ullamcorper dolor. Nunc eu felis elementum,
              lobortis sapien non, fringilla augue. Mauris malesuada vehicula
              imperdiet. Suspendisse sem justo, ullamcorper et est vel, convallis ultrices elit.
              Praesent bibendum dui sit amet enim rutrum, sit amet elementum sem gravida.
              Donec imperdiet elit tortor, eget ultrices eros dictum id.
              Sed congue imperdiet finibus. In ultricies pulvinar nunc vitae
              pharetra. Pellentesque auctor rutrum augue. Praesent dignissim
              vel mi eget facilisis. Nam eget nunc rhoncus, venenatis turpis
              nec, consequat lorem. Vestibulum sed nisi hendrerit, vehicula
              neque et, mattis leo. Suspendisse dignissim erat mi, vel auctor purus
              ornare a. Fusce id leo dignissim, finibus augue nec, feugiat felis.
              Ut interdum metus diam, quis fermentum ex cursus non.</p>

              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur cursus ut lectus nec facilisis.
                In gravida, eros eu sagittis accumsan, nisl nisi aliquam nunc, sed
                hendrerit tellus orci ullamcorper dolor. Nunc eu felis elementum,
                lobortis sapien non, fringilla augue. Mauris malesuada vehicula
                imperdiet. Suspendisse sem justo, ullamcorper et est vel, convallis ultrices elit.
                Praesent bibendum dui sit amet enim rutrum, sit amet elementum sem gravida.
                Donec imperdiet elit tortor, eget ultrices eros dictum id.
                Sed congue imperdiet finibus. In ultricies pulvinar nunc vitae
                pharetra. Pellentesque auctor rutrum augue. Praesent dignissim
                vel mi eget facilisis. Nam eget nunc rhoncus, venenatis turpis
                nec, consequat lorem. Vestibulum sed nisi hendrerit, vehicula
                neque et, mattis leo. Suspendisse dignissim e</p>
            </div>
            <aside>
              <a href="./fakta.html"><button class="button"><span>Klinik </span></button></a>
              <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><button class="button"><span>Nåt </span></button></a>
              <a href="http://www.cit.chalmers.se/kunskapsomraden/material/graf/"><button class="button"><span>Lorem</span></button></a>
              <a href="./fakta.html"><button class="button"><span>Klinik </span></button></a>
              <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><button class="button"><span>Nåt </span></button></a>
              <a href="http://www.cit.chalmers.se/kunskapsomraden/material/graf/"><button class="button" id ="bot"><span>Lorem</span></button></a>
            </aside>
          </div>
            <div class="box1" id="extra">
            <h1 id="fix">Huvudrubik</h1>
              <h3 id="fix2">Underrubrik</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur cursus ut lectus nec facilisis.
                In gravida, eros eu sagittis accumsan, nisl nisi aliquam nunc, sed
                hendrerit tellus orci ullamcorper dolor. Nunc eu felis elementum,
                lobortis sapien non, fringilla augue. Mauris malesuada vehicula
                imperdiet. Suspendisse sem justo, ullamcorper et est vel, convallis ultrices elit.
                Praesent bibendum dui sit amet enim rutrum, sit amet elementum sem gravida.
                Donec imperdiet elit tortor, eget ultrices eros dictum id.
                Sed congue imperdiet finibus. In ultricies pulvinar nunc vitae
                pharetra. </p>
              <p>Pellentesque auctor rutrum augue. Praesent dignissim
                vel mi eget facilisis. Nam eget nunc rhoncus, venenatis turpis
                nec, consequat lorem. Vestibulum sed nisi hendrerit, vehicula
                neque et, mattis leo. Suspendisse dignissim erat mi, vel auctor purus
                ornare a. Fusce id leo dignissim, finibus augue nec, feugiat felis.
                Ut interdum metus diam, quis fermentum ex cursus non.</p>
              </div>
        </main>
      </div>

      <footer>
        <p id="footer_txt">All rights resereved to HURRDURR & CO</p>
      </footer>

    </div>
    </body>
    <script src="./js/main.js"></script>
</html>
