<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Tandläkare Lindqvist</title>
    <link href="./css/main.css" rel="stylesheet"/>
    <link rel="shortcut icon" href="./img/favicon.png"/>
</head>
    <body>
      <div class="nav_desk">
        <a href="./index.html" class="button1">Hem</a>
        <a href="./personal.html" class="button1">Personal</a>
        <a href="./behandlingar.html" class="button1">Behandlingar</a>
        <a href="./kontakta.html" class="button1">Kontakta</a>
      </div>
      <div class="yttre_container">
        <div class="container">
          <div class="box2">
            <h1>Vår klinik</h1>
            <div class="bild_rad">
             <img src="./img/teeth1_fixed.JPG" class="bilder">
             <img src="./img/teeth2_fixed.JPG" class="bilder">
             <img src="./img/klinik1_fixed.JPG"class="bilder">
           </div>
           <div class="bild_rad">
            <img src="./img/klinik2_fixed.JPG" class="bilder">
            <img src="./img/room1fix.JPG" class="bilder">
            <img src="./img/room2fix.JPG"class="bilder">
          </div>
          <div class="bild_rad">
           <img src="./img/room3fix.JPG" class="bilder">
         </div>
        </div>
      </div>
      <footer>
        <div class="footer_box1">
          <p id="footer_txt">All rights resereved to HURRDURR & CO</p>
        </div>
        <div class="footer_box2">
          <a href="http://www.ansiktsbok.se/"><img src="./img/Twitter-icon-ny.png" alt="Twitter Ikon" class="footer_ikoner"></a>
          <a href="http://www.ansiktsbok.se/"><img src="./img/facebook-icon-ny.png" alt="Facebook Ikon" class="footer_ikoner"></a>
          <a href="http://www.ansiktsbok.se/"><img src="./img/YouTube-icon-ny.png" alt="YouTube Ikon" class="footer_ikoner"></a>
        </div>
      </footer>
    </div>
  </body>
</html>
