<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Tandläkare Lindqvist</title>
    <link href="./css/main.css" rel="stylesheet"/>
</head>
    <body>

      <div class="nav_desk">
        <a href="./index.html" class="button1">Hem</a>
        <a href="./personal.html" class="button1">Personal</a>
        <a href="./behandlingar.html" class="button1">Behandlingar</a>
        <a href="./kontakta.html" class="button1">Kontakta</a>
      </div>

      <div class="hamburgare_och_nav">

      <div class="hamburgare">
        <div class="hikon_close">
        <img src="./img/ic_close_white_3x.png" class="hclose" onclick="hamburgarmeny()">
      </div>
      <div class="links">
        <a href="./index.html" class="button1" id="top">Hem</a>
        <a href="./personal.html" class="button1">Personal</a>
        <a href="./behandlingar.html" class="button1">Behandlingar</a>
        <a href="./kontakta.html" class="button1">Kontakta</a>
      </div>
      </div>
      <nav>
        <img src="./img/hamburgar_menu.png" class="hikon" onclick="hamburgarmeny()">
        <h1 id="titel">Tandläkare Lindqvist</h1>
      </nav>
    </div>

        <div class="yttre_container">

      <div class="container">
        <main>
          <div class="box2">
            <h1>Kontakta oss här</h1>
              <h3>Mail:</h3>
                <p id="fix3">HurrDurr@gmail.com </p>
              <h3>Telefon:</h3>
                <h4>Göteborg</h4>
                  <p id="fix3">032323231231231231231</p>
                <h4>Lysekil</h4>
                  <p id="fix3">032323231231231231231</p>
              <h3>Adress:</h3>
                <h4>Göteborg</h4>
                  <p id="fix3">LOREM LOREM 27</p>
                <h4>Lysekil</h4>
                  <p id="fix3">LOREM LOREM 27</p>
              </div>
            </main>
      </div>
      <footer>
        <p id="footer_txt">All rights resereved to HURRDURR & CO</p>
      </footer>
    </div>
    </body>
    <script src="./js/main.js"></script>
</html>
