<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Tandläkare Lindqvist</title>
    <link href="./css/main.css" rel="stylesheet"/>
</head>
    <body>
      <div class="hamburgare_och_nav">

      <div class="hamburgare">
        <div class="hikon_close">
        <img src="./img/ic_close_white_3x.png" class="hclose" onclick="hamburgarmeny()">
      </div>
      <div class="links">
        <a href="./index.html" class="button" id="top">Hem</a>
        <a href="./personal.html" class="button">Personal</a>
        <a href="./behandlingar.html" class="button">Behandlingar</a>
        <a href="./kontakta.html" class="button">Kontakta</a>
      </div>
      </div>
      <nav>
        <img src="./img/hamburgar_menu.png" class="hikon" onclick="hamburgarmeny()">
        <h1 id="titel">Tandläkare Lindqvist</h1>
      </nav>
    </div>
      <div class="container">
        <main>
          <div class="box1" id="personal">
            <h1>Personal</h1>
              <dl>
                <dt><h3>Peter Lindqvist</h3></dt>
                <dd><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p></dd>
                <dt><h3>Annica Lindqvist</h3></dt>
                <dd><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p></dd>
              </dl>
          </div>
        </main>
        <aside>

        </aside>
      </div>
      <footer>

      </footer>
    </body>
    <script src="./js/main.js"></script>
</html>
