body {
  background-color: #B8B8B8;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

/*--------Texter och titlar------*/
p, a, h1, h3, h4{
  font-family: sans-serif;
}

h1{
  font-size: 60px;
}

p{
  font-size: 24px;
}

#fix{
  margin-bottom: 20px;
}

#fix2{
  margin-top: 0;
}

#fix3{
  font-size: 26px;
}

h3{
  font-size: 40px;
}

h4{
  font-size: 20px;
}

#titel{
  font-size: 45px;
  margin-left: 20px;
  color: white;
}

#personal{
  font-size: 45px;
  font-family: sans-serif;
}

li{
  font-size: 45px;
  font-family: sans-serif;
}

.plist{
  margin-left: 20px;
}

/*----text och titlar slut -------------*/

/* ---------------Naven och hamburgare ------------------*/

/* --------------------knappar-------------- */
.button {
    background-color: #295FFF;
    border: none;
    color: white;
    padding: 30px 70px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 50px;
    cursor: pointer;
    align-items: center;
}


.button:hover {
    background-color: #0136D4;
}

#top{
  margin-top: 60px;
}
/*-------------------------Knappar slut---------------- */
/* ---------hamburgare ikon------------------- */

.hikon{
  margin-left: 10px;
}

.hikon_close{
  display: flex;
  justify-content: flex-end;
  margin:15px;
}
/* ---------hamburgare ikon slut--------- */

nav{
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #295FFF;
  position: fixed;
  -webkit-box-shadow: 0px 20px 79px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 20px 79px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 20px 79px 0px rgba(0,0,0,0.75);
}

.hamburgare_och_nav{
  display: flex;
  flex-direction: row;
}
/*------------------- animation-------------------- */

@keyframes dropHeader {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

/*--------------- animation slut----------------- */

.hamburgare{
  display:none;
  position: fixed;
  z-index: 1;
  height: 100%;
  background-color: #295FFF;
  border-right: 5px solid black;
  animation-name: dropHeader;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 0.1s;
}
 /* ----------------hamburgarmeny javascript----------- */

 .hamburgare_js{
   display: block;
}

 /* ------------------hamburgarmeny javascript slut-------------- */

 /* ---------------Naven och hamburgare slut-------------------------*/

 /* ---------------------container----------------- */

.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 180px;
}
/* ----------------main--------------------- */

main{
  display: flex;
  justify-content: center;
  flex-direction: column;;
  width: 870px;
  align-content: center;
  align-items: center;
}

.box1{
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    margin-bottom: 40px;
    -webkit-box-shadow: 10px 10px 51px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 51px -15px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 51px -15px rgba(0,0,0,0.75);
    width: 830px;
}
/* --------------personal del --------------- */
.pbild{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.avatar{
  margin-left: 20px;
}

/* --------------personal del slut--------------- */

/*-------------main slut------------------------------  */

/* --------------------media för mobil o dator---------- */

@media all and (max-width:361px) {
  aside{
    display: none;
  }
}
