html{
  overflow-x: hidden;
}


body {
  background-color: #B8B8B8;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

/*--------Texter och titlar------*/
p, a, h1, h3, h4{
  font-family: sans-serif;
}

h1{
  font-size: 60px;
}

p{
  font-size: 24px;
}

#fix{
  margin-bottom: 20px;
}

#fix2{
  margin-top: 0;
}

#fix3{
  font-size: 26px;
}

h3{
  font-size: 40px;
}

h4{
  font-size: 20px;
}

#titel{
  font-size: 45px;
  margin-left: 20px;
  color: white;
}

#personal{
  font-size: 45px;
  font-family: sans-serif;
}

li{
  font-size: 45px;
  font-family: sans-serif;
}

.plist{
  margin-left: 20px;
}

/*----text och titlar slut -------------*/

/* ---------------Naven och hamburgare ------------------*/

/* --------------------knappar-------------- */
.button1 {
    background-color: #295FFF;
    border: none;
    color: white;
    padding: 30px 70px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 50px;
    cursor: pointer;
    align-items: center;
}


.button1:hover {
    background-color: #0136D4;
}

#top{
  margin-top: 60px;
}
/*-------------------------Knappar slut---------------- */
/* ---------hamburgare ikon------------------- */

.hikon{
  margin-left: 10px;
}

.hikon_close{
  display: flex;
  justify-content: flex-end;
  margin:15px;
}
/* ---------hamburgare ikon slut--------- */

nav{
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #295FFF;
  position: fixed;
  -webkit-box-shadow: 0px 20px 79px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 20px 79px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 20px 79px 0px rgba(0,0,0,0.75);
}

.hamburgare_och_nav{
  display: flex;
  flex-direction: row;
}
/*------------------- animation-------------------- */

@keyframes dropHeader {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

/*--------------- animation slut----------------- */

.hamburgare{
  display:none;
  position: fixed;
  z-index: 1;
  height: 100%;
  background-color: #295FFF;
  border-right: 5px solid black;
  animation-name: dropHeader;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 0.1s;
}
 /* ----------------hamburgarmeny javascript----------- */

 .hamburgare_js{
   display: block;
}

 /* ------------------hamburgarmeny javascript slut-------------- */

 /* ---------------Naven och hamburgare slut-------------------------*/

 /* ---------------------container----------------- */

.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 180px;

}

/*----------------------- header-------------------------- */

 header{
   display: flex;
   flex-direction: row;
   margin-top: 90px;
   justify-content: center;
 }
/* ----------------main------------------------------------ */

main{
  display: flex;
  justify-content: center;
  flex-direction: column;;
  width: 870px;
  align-content: center;
  align-items: center;
}

.box1{
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    margin-bottom: 40px;
    -webkit-box-shadow: 10px 10px 51px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 51px -15px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 51px -15px rgba(0,0,0,0.75);
    width: 830px;
}

 .box2{
   background-color: white;
   padding-left: 20px;
   padding-right: 20px;
   padding-top: 20px;
   margin-bottom: 40px;
   -webkit-box-shadow: 10px 10px 51px -15px rgba(0,0,0,0.75);
   -moz-box-shadow: 10px 10px 51px -15px rgba(0,0,0,0.75);
   box-shadow: 10px 10px 51px -15px rgba(0,0,0,0.75);
   width: 830px;
 }

/* --------------personal del --------------- */
.pbild{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.avatar{
  margin-left: 20px;
}

/* --------------personal del slut--------------- */

/*-------------main slut------------------------------  */

  footer{
    height: 40px;
    width: 1300px;
    background-color: #295FFF;
  }

/* --------------------media för mobil o dator---------- */

@media all and (max-device-width:361px) {

  aside{
    display: none;
  }

  .nav_desk{
    display: none;
  }

  header{
    display: none;
  }

  footer{
    display: none;
  }

}

@media all and (min-device-width:362px) {

/* -----------------------Nav för desktop------------- */
  .hamburgare_och_nav{
    display: none;
  }
  .nav_desk{
    width: 100%;
    background-color:#295FFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    -webkit-box-shadow: 6px -9px 45px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px -9px 45px 2px rgba(0,0,0,0.75);
    box-shadow: 6px -9px 45px 2px rgba(0,0,0,0.75);
    z-index: 1;
  }

  .button1{
    font-size: 20px;
    padding: 20px 50px;
  }

/* --------------Nav för desktop slut------------------ */
/* --------------------Knappar i aside---------------- */

  .button {
    display: inline-block;
    background-color: white;
    border: none;
    color: #01161E;
    text-align: left;
    font-size: 28px;
    padding: 30px;
    transition: all 0.5s;
    cursor: pointer;
    border-right: 2px solid black;
    width: 180px;
    margin-left: 40px;
  }

  #bot{
    border-bottom: 2px solid black;
  }

  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .button span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -40px;
    transition: 0.5s;
  }


  .button:hover span:after {
    opacity: 1;
    right: -20px;
  }

/* -------------------knappar i aside slut------------- */
/* -------------------Ny "body" för desktop----------- */

  .yttre_container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  #img{
    border-bottom: 2px solid black;
      border-right: 2px solid black;
  }


  main{
    width: 80vw;
    background-color: none;
  }

  .box1{
    padding-left: 0;
    padding-right: 0;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    width: 1060px;
  }

  .box2{
    padding-left: 0;
    padding-right: 0;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    width: 1300px;
    margin-top: 90px;
  }

  .container{
    display: flex;
    flex-direction: row;
    margin-top: 45px;
    width: 1300px;
  }

  #kort{
    display: none;
  }

  #extra{
    width: 1300px;
  }

  .fix_box{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #unik_box{
    height:532px;
  }

  aside{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }

/* -------------------Ny "body" för desktop slut----------- */


/* -------------------Text fix----------- */

  h1,h3,p,h4{
    margin-left: 25px;
    margin-right: 25px;
  }

  p{
    font-size: 15px;
  }

  h3{
    font-size: 20px;
  }

  h1{
    font-size: 30px;
  }

  h4{
    font-size: 17px;
  }

  #footer_txt{
    color: white;
  }

  li{
    font-size: 20px;
    font-family: sans-serif;
  }

  #personal{
    font-size: 25px;
  }
